<!DOCTYPE html>
<html lang="ru-ru">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<title>Страница бронирования</title>
	<meta name="robots" content="noindex, nofollow"/>
</head>
<body>
<div style="max-width: 1200px; margin: 20px auto">
	<div id="booking">
		<script src="https://atom-s.com/script.js"></script>
		<script type="text/javascript">
			getAtomSBookingScript(function () {
				function getParameterUrlParam(name) {
					name = name.replace(/[\[\]]/g, '\\$&');
					let url = window.location.href,
						regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
						results = regex.exec(url);
					if (!results) return null;
					if (!results[2]) return '';
					return decodeURIComponent(results[2].replace(/\+/g, ' '));
				}

				var atomBooking = new window.atomSBooking();
				atomBooking.initialize('booking', {
					"host": 'atom-s.com',
					"locale": 'ru',
					"apiVersion": "v2",
					"apiKey": getParameterUrlParam('showcase'), // Ключь витрины
					"tourSlug": getParameterUrlParam('tour'), // ID или slug тура
				}, null, null);
				atomBooking.display();
			});
		</script>
	</div>
</div>
</body>
</html>